<html>
<head>
    <title>Router</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Register Router</h1>
    <h2>You are calling me from {{request.remote_addr}}</h2>
    <form method="POST" action="/add">
    <input name="ip" placeholder="IP address" required />
    <input name="username" placeholder="Username" required />
    <input name="password" placeholder="Password" required />
    <button type="submit">Add Info</button>
  </form>

  <ul>
    {% for comment in data %}
      <li>
	       {{ comment.ip_address }} - {{ comment.username }}	 
         <form method="POST" action="{{ url_for('delete_comment') }}" style="display:inline">
           <input type="hidden" name="idx" value="{{ comment._id }}">
           <button type="submit">Delete</button>
         </form>
      </li>
    {% endfor %}
    
  </ul>

</body>
</html>