<!DOCTYPE html>
<html>
<head><title>Router Detail</title></head>
<link rel="stylesheet" href="/static/style.css" />
<body>
  <h1>Router: {{ router_ip }}</h1>
  <table border="1" style="text-align: center;">
    <tr>
      <th>Timestamp</th>
      <th>Interface</th>
      <th>IP Address</th>
      <th>Status</th>
      <th>Protocol</th>
    </tr>
    {% for node in router_details %}
      {% for int in node.interfaces %}
      <tr>
        <td>{{ node.timestamp }}</td>
        <td>{{ int.interface }}</td>
        <td>{{ int.ip_address }}</td>
        <td>{{ int.status }}</td>
        <td>{{ int.proto }}</td>
      </tr>
      {% endfor %}
    {% endfor %}
  </table>
  <a href="/" style="font-size: 20px;">Back</a>
</body>
</html>